body{
    margin: auto;
    padding: 0;
    width: 100%;
}

nav{
    padding-left: 15px;
    padding-top: 0;
    height: 50px;
    position: relative;
}

h1{
    font-family: Raleway, Helvetica;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 4px;
    animation: slide 0.5s forwards;
    float: left;
    position: relative;
    bottom: -60px;
    transition-property: bottom;
    transition-duration: 1s;
}

ul{
    float: left;
}

li{
    list-style: none;
    margin-top: 18px;
    font-family: Raleway, Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    position: relative;
    bottom: -50px;
    transition-property: bottom;
    transition-duration: 1s;
}

a{
    text-decoration: none;
    color: black;
}

#aboutMe > h2{
    font-size: 40px;
    letter-spacing: 4px;
    color: black;
    opacity: .7;
    margin-bottom: 15px;
}

#social > h3{
    font-size: 25px;
    letter-spacing: 4px;
    color: #444444;
}

#bolded{
    letter-spacing: 2px;
    font-size: 20px;
}

#funFacts{
    letter-spacing: 2px;
    font-size: 16px;
    color: #333333;
}

.navigators{
    overflow: hidden;
    margin-right: 15px;
    float: left;
}

#slide{
    overflow: hidden;
    float: left;
}

.line{
    background-color: black;
    height: 1px;
    margin: auto;
    margin-top: 3px;
    margine-left: 15px;
    width: 0%;
    transition-duration: .5s;
    transition-property: width;

}

#one:hover ~ #first{
    width: 50%;
}

#three:hover ~ #third{
    width: 50%;
}

#four:hover ~ #fourth{
    width: 50%;
}

#contents{
    width: 80%;
    margin: auto;
    height: auto;
}

#intro{
    width: 100%;
    margin: auto;
    height: auto;
    padding-top: 100px;
}

#aboutMe{
    font-family: "Lato", Helvetica;
    float: left;
    width:80%;
    margin-left: 0;
    padding-left: 0;
    display: block;
    position: relative;
}

#social{
    padding-top: 20px;
    float: left;
    width:10%;
    margin: auto;
    font-family: "Lato", Helvetica;
    padding-left: 50px;
}

.links{
    padding-bottom: 20px;
}

#aboutBar{
    display: block;
    left:0;
    width: 250px;
    height: 2px;
    background-color: black;
    opacity: .7;
    margin-top: -10px;
}

#skills{
    clear: both;
    width: 100%;
    font-family: "Lato", Helvetica;
    font-size: 30px;
    letter-spacing: 4px;
    color: black;
    opacity: .7;
}

#skills > h2{
    margin-top: 400px;
}

#skillsBar{
    width: 150px;
    height: 2px;
    background-color: black;
    opacity: .7;
    margin-top: -30px;
}