body{
    padding: 0;
    width: 100%;
}

nav{
    padding-left: 15px;
    padding-top: 0;
    height: 50px;
    position: relative;
}

h1{
    font-family: "Lato", Helvetica;
    font-size: 30px;
    letter-spacing: 4px;
    animation: slide 0.5s forwards;
    float: left;
    position: relative;
    bottom: -60px;
    transition-property: bottom;
    transition-duration: 1s;
}

h2{
    font-family: "Lato", Helvetica;
    font-size: 60px;
    letter-spacing: 4px;
    opacity: .4;
}

ul{
    float: left;
}

li{
    list-style: none;
    margin-top: 18px;
    font-family: "Lato", Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    position: relative;
    bottom: -50px;
    transition-property: bottom;
    transition-duration: 1s;
}

a{
    text-decoration: none;
    color: black;
}

img{
    weight: 200px;
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

footer{
    padding-top: 150px;
    font-family: "Lato", Helvetica;
    font-size: 10px;
    font-weight: 300;
    margin: auto;
}

footer > p{
    text-align: center;
}

.navigators{
    overflow: hidden;
    margin-right: 15px;
    float: left;
}

#slide{
    overflow: hidden;
    float: left;
}

.line{
    background-color: black;
    height: 1px;
    margin: auto;
    margin-top: 3px;
    margine-left: 15px;
    width: 0%;
    transition-duration: .5s;
    transition-property: width;

}

#two:hover ~ #second{
    width: 50%;
}

#three:hover ~ #third{
    width: 50%;
}

#four:hover ~ #fourth{
    width: 50%;
}

#contents{
    width:80%;
    margin: auto;
    clear: both;
}

#con1{
    margin-top: 100px;
    position: relative;
    text-align: left;
}

#con2{
    margin-top: 15px;
    position: relative;
    text-align: left;
    font-family: "Lato", Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
}

#con3{
    margin-top: -30px;
    text-align: left;
    font-family: "Lato", Helvetica;
    font-size: 30px;
    letter-spacing: 2px;
    opacity: .8;
}

#explanation{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-family: "Lato", Helvetica;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    width: 80%;
    color: dimgray;
}

#image{
    margin-bottom: 30px;
}

#welcomeBar{
    width: 275px;
    background-color: black;
    opacity: .4;
    height: 2px;
    margin-top: -45px;
}