@import "home.css";

h1{
    text-align: center;
    width: 100%;
    float: none;
}

li{
    font-size: 15px;
    display: list-item;
    float: none;
}

ul{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

nav{
    height: 100px;
    padding-left: 0;
}

#slide{
    width: 100%;
    margin: auto;
    height: 50px;
}

#bar{
    width: 90%;
    margin: auto;
}

#explanation{
    width: 90%;
}

.left{
    border-top: solid 50px transparent;
}

.right{
    border-top: solid 50px transparent;
}

#firstleft{
    border-left: solid 60px #d0b783;
    left: -60px;
    margin-top: 0px;
}

#secondleft{
    border-left: solid 60px #f96161;
    left: -60px;
    margin-top: 30px;
}

#thirdleft{
    border-left: solid 60px #bcd2d0;
    left: -60px;
    margin-top: 60px;
}

#firstright{
    border-right: solid 60px #d0b783;
    margin-top: 0px;
    right: -60px;
}

#secondright{
    border-right: solid 60px #f96161;
    margin-top: 30px;
    right: -60px;
}

#thirdright{
    border-right: solid 60px #bcd2d0;
    margin-top: 60px;
    right: -60px;
}

#welcoming{
    text-align: center;
    font-family: Raleway, Helvetica;
    padding-top: 50px;
    font-size: 28px;
    letter-spacing: 4px;
    width:100%;
    margin: auto;
    position: absolute;
    display: table-row;
}

#intro{
    margin-top: 0px;
    height: 110px;
}

#cont1{
    padding-top: 100px;
    padding-bottom: 100px;
}

#desc2{
    padding-top: 100px;
    padding-bottom: 100px;
}

h2{
    font-size: 12px;
}

.underline{
    height: 2px;
}

#under1{
    margin-top: -5px;
    width: 54px;
}

#under2{
    margin-top: -5px;
    width: 118px;
}

#cont1>p{
    font-size: 18px;
}

#desc2>p{
    font-size: 18px;
}

footer{
    padding-top: 50px;
}

#fourthleft{
    border-left: solid 60px #d0b783;
    margin-top: 50px;
}

#fourthright{
    border-right: solid 60px #d0b783;
    margin-top: 50px;
}