body{
    margin:0;
    width: 100%;
}

nav{
    padding-left: 15px;
    padding-top: 0;
    top: 0;
    height: 60px;
    position: relative;
}

h1{
    font-family: Raleway, Helvetica;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 4px;
    color: black;
    animation: slide 0.5s forwards;
    float: left;
    position: relative;
    bottom: -60px;
    transition-property: bottom;
    transition-duration: 1s;
    margin-top: 15px;
}

h2{
    font-family: Raleway, Helvetica;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 400;
}

ul{
    float: left;
    margin-top: 5px;
}

li{
    list-style: none;
    margin-top: 18px;
    font-family: Raleway, Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    position: relative;
    bottom: -50px;
    transition-property: bottom;
    transition-duration: 1s;
    color: black;
}

#cont1>p{
    font-family: Raleway, Helvetica;
    font-weight: 400;
    font-size: 32px;
    margin-top: 20px;
    letter-spacing: 1px;
}

#desc2>p{
    font-family: Raleway, Helvetica;
    font-weight: 400;
    font-size: 32px;
    margin-top: 20px;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: black;
}

img{
    weight: 200px;
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

footer{
    padding-top: 150px;
    font-family: "Lato", Helvetica;
    font-size: 12px;
    font-weight: 300;
    margin: auto;
}

footer > p{
    text-align: center;
}

.navigators{
    overflow: hidden;
    margin-right: 15px;
    float: left;
}

#slide{
    overflow: hidden;
    float: left;
}

.hidden{
    overflow: hidden;
    margin: auto;
    height: 20px;
    position: relative;
}

#active{
    height: 0;
    width: 0;
    position: absolute;
    border-left: solid 8px transparent;
    border-top: solid 12px #d0b783;
    border-right: solid 8px transparent;
    margin-top: -12px;
    left: 37%;
}

#second{
    height: 0;
    width: 0;
    position: absolute;
    border-left: solid 8px transparent;
    border-top: solid 12px #f96161;
    border-right: solid 8px transparent;
    margin-top: -12px;
    left: 37%;
    transition-property: margin-top;
    transition-duration: .5s;
}

#third{
    height: 0;
    width: 0;
    position: absolute;
    border-left: solid 8px transparent;
    border-top: solid 12px #bcd2d0;
    border-right: solid 8px transparent;
    margin-top: -12px;
    left: 37%;
    transition-property: margin-top;
    transition-duration: .5s;
}

#two:hover ~ .hidden > #second{
    margin-top: 5px;
}

#three:hover ~ .hidden > #third{
    margin-top: 5px;
}

#explanation{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-family: "Lato", Helvetica;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    width: 80%;
    color: dimgray;
}

#image{
    margin-bottom: 30px;
}

#main{
    position: relative;
    z-index: 1;
}

#screen{
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 100vh;
    background-color: #d0b783;
    width: 100%;
}

#intro{
    margin-top: 150px;
    width: 100%;
    height: 360px;
    clear: both;
}

#intro:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

#leftTri{
    float: left;
    width: 20%;
    left: 0;
    height: 100px;
    position: absolute;
    display: table-row;
}

#welcoming{
    text-align: center;
    font-family: Raleway, Helvetica;
    padding-top: 120px;
    font-size: 140px;
    letter-spacing: 4px;
    width:100%;
    margin: auto;
    position: absolute;
    display: table-row;
}

#rightTri{
    width: 20%;
    right: 0;
    height: 100px;
    position: absolute;
    display: table-row;
    clear: both;
}

.left{
    position: absolute;
    height: 0;
    width: 0;
    border-top: solid 280px transparent;
}

#firstleft{
    border-left: solid 280px #d0b783;
    left: -280px;
    margin-top: -140px;
}

#secondleft{
    border-left: solid 280px #f96161;
    left: -280px;
    margin-top: -30px;
}

#thirdleft{
    border-left: solid 280px #bcd2d0;
    left: -280px;
    margin-top: 80px;
}

.right{
    position: absolute;
    height: 0;
    widows: 0;
    border-top: solid 280px transparent;
}

#firstright{
    border-right: solid 280px #d0b783;
    margin-top: -140px;
    right: -280px;
}

#secondright{
    border-right: solid 280px #f96161;
    margin-top: -30px;
    right: -280px;
}

#thirdright{
    border-right: solid 280px #bcd2d0;
    margin-top: 80px;
    right: -280px;
}

#contents{
    clear: both;
    content: '';
    display: block;
    height: auto;
    width: 100%;
}

#cont1{
    padding-top: 200px;
    width: 65%;
    margin: auto;
    padding-bottom: 200px;
}

#cont2{
    background-color: #d0b783;
    width: 100%;
}

#desc2{
    padding-top: 200px;
    width: 65%;
    margin: auto;
    padding-bottom: 200px;
}

.underline{
    background-color: black;
    height: 3px;
}

#under1{
    width:89px;
    margin-top: -15px;
}

#under2{
    width: 206px;
    margin-top: -15px;
}

#space{
    height: 50px;
    width: 100%;
    background-color: black;
}

#fourthleft{
    left: 0;
    position: absolute;
    border-left: solid 280px #d0b783;
}

#fourthright{
    right: 0;
    position: absolute;
    border-right: solid 280px #d0b783;
}