@import "home.css";

h1{
    text-align: center;
    width: 100%;
    float: none;
}

li{
    font-size: 15px;
    text-align: center;
}

ul{
    width: 100%;
    margin:auto;
}

nav{
    padding-left: 0px;
}

#slide{
    width: 100%;
    margin: auto;
}

#bar{
    width: 90%;
}

#explanation{
    width: 90%;
}