html{
	scroll-behavior: smooth;
}

body{
	margin: auto;
	width: 100%;
	position: relative;
}

#topbar{
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
	overflow: auto;
	height: auto;
	z-index: 10;
}

#heading{
	position: relative;
	left: 40px;
	padding-top: 43px;
	float: left;
}

#heading > h1{
	font-family: 'Libre Franklin', Helvetica;
	font-size: 22px;
	font-weight: 200;
	margin: 0;
	color: black;
	/*text-shadow: -1px -1px 0 black,
				 1px -1px 0 black,
				 -1px 1px 0 black,
				 1px 1px 0 black;*/
}

#heading > h1 > span{
	color: slategray;
}

nav{
	position: relative;
	right: 15px;
	padding-top: 35px;
	float: right;
}

li{
	list-style: none;
	float: left;
	margin-right: 25px;
	margin-left: 20px;
	font-family: 'Libre Franklin', Raleway;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 1px;
}

a{
	color: black;
}

.underline{
	height: 1px;
	background-color: lightgray;
	overflow: hidden;
}

.fillline{
	left: -60px;
	height: 1px;
	background-color: black;
	position: relative;
	transition-property: left;
	transition-duration: .3s;
}

li:hover .underline > .fillline{
	left: 0px;
}

main{
	clear: both;
	width: 100%;
	padding-top: 113px;
	position: relative;
	padding-bottom: 350px;
}

#container{
	width: 100%;
	position: relative;
}

#left{
	display: inline-block;
	font-family: 'Cutive Mono', Raleway;
	font-size: 1vw;
	text-orientation: center;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	float: left;
	left: 0px;
	position: absolute;
}

#background{
	background: url('../images/background.jpg') center center no-repeat;
	background-size: cover;
	width: 80%;
	padding-top: 54.39%;
	margin: auto;
	/*margin-top: 150px;*/
	z-index: 5;
	position: relative;
}

#right{
	display: inline-block;
	font-family: 'Cutive Mono', Raleway;
	font-size: 1vw;
	text-orientation: center;
	transform: translateY(-50%) rotate(90deg);
	float: left;
	right: 2%;
	top: 50%;
	position: absolute;
}

#horizontalLine{
	height: 1px;
	background-color: black;
	width: 87%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	margin: auto;
	position: absolute;
}

#background > h1{
	font-family: 'Cutive Mono', Raleway;
	font-weight: 300;
	font-size: 55px;
	letter-spacing: -3px;
	position: absolute;
	padding-top: 25.20%;
	margin-top: 0px;
}

#vertical{
	width: 40%;
	left: 10%;
	right: 10%;
	position: relative;
	overflow: visible;
	margin-top: 0;
	float: left;
}

.cover{
	position: absolute;
	left: 0;
	background-color: rgb(20,20,20);
	height: 100%;
}

#first{
	/*writing-mode: vertical-rl;
	text-orientation: mixed;*/
	display: inline-block;
	margin-top: 100px;
	position: relative;
	font-family: 'Merriweather', Raleway;
	font-size: 4vw;
	color: white;
}

#second{
	display: inline-block;
	margin-top: 1.4vh;
	opacity: 1;
	position: relative;
	font-family: 'Merriweather', Raleway;
	font-size: 4vw;
	color: white;
}

#third{
	/*writing-mode: vertical-rl;
	text-orientation: mixed;*/
	display: inline-block;
	margin-top: 1.4vh;
	opacity: 1;
	position: relative;
	font-family: 'Merriweather', Raleway;
	font-size: 4vw;
	color: white;
}

#fourth{
	/*writing-mode: vertical-rl;
	text-orientation: mixed;*/
	display: inline-block;
	margin-top: 1.4vh;
	opacity: 1;
	position: relative;
	font-family: 'Merriweather', Raleway;
	font-size: 4vw;
	color: white;
}

#rightside{
	width: 40%;
	right: 10%;
	margin: 0;
	position: relative;
	margin-top: 100px;
	font-family: 'Libre Franklin', Raleway;
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
	letter-spacing: 1px;
	float: right;
}

#rightside > p{
	margin-top: 100px;
	opacity: 0;
	transform: rotate(-20deg);
	transition-property: transform;
	transition-duration: .5s
}

#contents{
	width: 100%;
	overflow: hidden;
}

#loading{
	width: 100%;
  	height: 100%;
   	top: 0;
   	left: 0;
   	position: fixed;
   	display: block;
   	opacity: 1;
   	background-color: #fff;
   	z-index: 99;
   	text-align: center;
}

#spinningbar{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	height: 5px;
  	border-radius: 2px;
  	background-color: black;
  	width: 40px;
  	z-index: 100;
  	animation: spin .7s ease-in-out infinite;
}

@keyframes spin{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}
}

footer{
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background-color: rgb(20,20,20);
}

#footercontent{
	width: 70%;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.columns{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}

#footerheading{
	font-family: 'Libre Franklin', Raleway;
	font-size: 30px;
	color: white;
	font-weight: 100;
	margin-top: 20px;
	/*text-shadow: -1px -1px 0 white,
				 1px -1px 0 white,
				 -1px 1px 0 white,
				 1px 1px 0 white;*/
}

#info > p{
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	color: white;
	font-weight: 300;
	opacity: .7;
	letter-spacing: 2px;
	margin-bottom: 8px;
	margin-top: 8px;
}

#info > a{
	text-decoration: none;
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 300;
	color: white;
	opacity: .7;
}

#links > p{
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	color: white;
	font-weight: 300;
	opacity: .7;
	letter-spacing: 2px;
	margin-bottom: 8px;
	margin-top: 8px;
}

#links > a{
	text-decoration: none;
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 300;
	color: white;
	opacity: .7;
	padding-bottom: 8px;
	display: inline-block;
}