body{
	margin: auto;
	padding: 0;
	width: 100%;
}

header {
	height: 500px;
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

nav{
	margin-top: -200px;
	width: 100%;
	position: absolute;
	z-index: 2;
}

h1{
	font-family: Raleway, Helvetica;
	font-size: 3em;
	font-weight: 400;
	letter-spacing: 4px;
	color: black;
	z-index: 2;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
	margin: auto;
	text-align: center;
	width: 100%;
}

li{
	font-family: Raleway, Helvetica;
	font-size: 1.5em;
	font-weight: 300;
	color: black;
	padding-bottom: 4px;
}

#one{
	right: 0px;
	display: inline-block;
}

#two{
	display: inline-block;
}

#three{
	display: inline-block;
}

.lists{
	clear: both;
	float: left;
	width: 48%;
	position: relative;
	height: 40px;
	transition-property: width;
	text-align: right;
}

.triangles{
	overflow: hidden;
	float: right;
	width: 50%;
	height: 40px;
	position: relative;
	left: 0px;
	text-align: left;
}

#hometri {
	height: 0;
	width: 0;
	position: absolute;
	border-left: solid 20px #d0b783;
	border-top: solid 12px transparent;
	border-bottom: solid 12px transparent;
	margin-top: 3px;
	margin-left: -8px;
}

#abouttri{
	height: 0;
	width: 0;
	position: absolute;
	border-left: solid 20px #f96161;
	border-top: solid 12px transparent;
	border-bottom: solid 12px transparent;
	margin-top: 3px;
	margin-left: -8px;
}

#photostri{
	height: 0;
	width: 0;
	position: absolute;
	border-left: solid 20px #bcd2d0;
	border-top: solid 12px transparent;
	border-bottom: solid 12px transparent;
	margin-top: 3px;
	margin-left: -8px;
}

#screen{
	width: 100%;
	bottom: 0;
	overflow: visible !important;
	position: absolute;
}

#title{
	display: inline-block;
	width: 100%;
	position: absolute;
}