body{
    margin: auto;
    padding: 0;
    width: 100%;
}

nav{
    padding-left: 15px;
    top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

h1{
    font-family: "Montserrat", Raleway, Helvetica;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 300;
    animation: slide 0.5s forwards;
    float: left;
    position: relative;
    bottom: -60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    transition-property: bottom;
    transition-duration: 1s;
}

ul{
    float: left;
}

li{
    list-style: none;
    margin-top: 18px;
    font-family: "Montserrat", Raleway, Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    position: relative;
    bottom: -50px;
    transition-property: bottom;
    transition-duration: 1s;
}

a{
    text-decoration: none;
    color: black;
}

.navigators{
    overflow: hidden;
    margin-right: 15px;
    float: left;
}

#slide{
    overflow: hidden;
    float: left;
    align-items: center;
}

#slide > a > h1{

    text-align: center;
}

#first{
    height: 0;
    width: 0;
    position: absolute;
    border-left: solid 8px transparent;
    border-top: solid 12px #d0b783;
    border-right: solid 8px transparent;
    margin-top: -12px;
    left: 37%;
    transition-property: margin-top;
    transition-duration: .5s;
}

#second{
    height: 0;
    width: 0;
    position: absolute;
    border-left: solid 8px transparent;
    border-top: solid 12px #f96161;
    border-right: solid 8px transparent;
    margin-top: -12px;
    left: 37%;
    transition-property: margin-top;
    transition-duration: .5s;
}

#active{
    height: 0;
    width: 0;
    position: absolute;
    border-left: solid 8px transparent;
    border-top: solid 12px #bcd2d0;
    border-right: solid 8px transparent;
    margin-top: -12px;
    left: 37%;
    transition-property: margin-top;
    transition-duration: .5s;
}

.hidden{
    overflow: hidden;
    margin: auto;
    height: 20px;
    position: relative;
}

#screen{
    position: fixed;
    bottom: 0;
    height: 100vh;
    background-color: #bcd2d0;
    width: 100%;
}

#title{
    display: inline-block;
    position: absolute;
}

#background{
    background: url("../images/wall.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0px;
    position: fixed;
    z-index: -1;
}

#one:hover ~ .hidden > #first{
    margin-top: 5px;
}

#two:hover ~ .hidden > #second{
    margin-top: 5px;
}

#heading{
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

#photography{
    text-align: center;
    font-family: "Montserrat", Raleway;
    font-size: 50px;
    font-weight: 300;
    color: white;
}

#camera{
    text-align: center;
    font-family: "Cutive Mono", Raleway;
    font-size: 15px;
    color: white;
}

#content{
    padding-top: 40px;
    width: 80%;
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#main{
    width: 100%;
    background-color: white;
    margin-top: calc(100vh + 100px)
}

.row{
    display: inline-block;
    margin-top: 60px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.leftpic{
    left: 0;
    float: left;
    transition-property: opacity, transform;
    transition-duration: .3s;
}

.cover{
    display: inline-block;
    overflow: hidden;
}

.rightcont{
    right: 0;
    float: right;
    text-align: right;
    margin-right: 150px;
    position: absolute;
    top: 35%;
    transform: translate(0%,-50%);
    width: 30%;
}

.leftcont{
    left: 0;
    float: left;
    text-align: left;
    margin-left: 150px;
    position: absolute;
    top: 35%;
    transform: translate(0%, -50%);
    width: 30%;
}

.rightpic{
    right: 0;
    float: right;
    transition-property: opacity, transform;
    transition-duration: .3s;
}

.images:hover{
    opacity: 0.8;
    transform: scale(1.1,1.1);
}

.rcover{
    right: 0;
    float: right;
    display: inline-block;
    overflow: hidden;
}

#memento{
    background: url("../images/mementocover.jpg") center center no-repeat;
    /*display: inline-block;*/
    background-size: cover;
    width: 600px;
    height:400px;
}

#beach{
    background: url("../images/beachcover.jpg") center center no-repeat;
    /*display: inline-block;*/
    background-size: cover;
    width: 600px;
    height: 400px;
}

#lake{
    background: url("../images/lakecover.jpg") center center no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
}

#glamping{
    background: url("../images/glampingcover.jpg") center center no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
}

#maine{
    background: url("../images/mainecover.jpg") center center no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
}

.numbers{
    color: #bcd2d0;
    font-family: "Montserrat", Raleway;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}

.topic{
    font-family: "Montserrat", Raleway;
    font-weight: 300;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.date{
    font-family: "Cutive Mono", Raleway;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.description{
    font-family: "Cutive Mono", Raleway;
    font-size: 12px;
    margin-top: 5px;
}

#bold{
    font-weight: 400;
}

strong{
    font-weight: 400;
}

#sub{
    visibility: hidden;
    opacity: 0.0;
}

#cover{
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0px;
    margin-bottom: 100px;
}

#clickback{
    position: fixed;
    top: 35px;
    left: 35px;
    display: inline-block;
    text-decoration: none;
    z-index: 12;
}

#backbtn{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    width: 15px;
    height: 15px;
    opacity: 0.0;
}

#letter{
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.coverletter{
    font-family: "Montserrat", Raleway;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#coverdesc{
    font-family: "Cutive Mono", Raleway;
    font-size: 12px;
    margin-top: 15px;
}

.frame{
    margin: auto;
    width: 75%;
    height: 90vh;
    margin-bottom: 40px;
    opacity: 0;
}

.frameDesc{
    margin-top: 40px;
    height: 60px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.frameDescLines{
    opacity: 0;
    font-family: "Cutive Mono", Raleway;
    font-size: 12px;
}

.connector{
    margin: auto;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background-color: #bcd2d0;
    margin-bottom: 50px;
    opacity: 0;
}

.footer{
    font-family: "Cutive Mono", Raleway;
    font-size: 10px;
    margin: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}