h1{
	font-family: "Raleway", Helvetica;
	font-size: 3em;
	font-weight: 100;
	color: white;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
}

li{
	font-family: "Raleway", Helvetica;
	font-size: 1.3em;
	font-weight: 100;
	text-align: center;
	color: white;
}

#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/citybg.jpg) repeat;
    background-size: cover; 
    filter: blur(10px);
}

#header {
	height: 77%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

#navigation{
	height: 100%;
	width: 97%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

p#credit {
	width: 100%;
	position: fixed;
	font-family: "Raleway", Helvetica;
	color: white;
	font-size: 1.1em;
	font-weight: 100;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}