html{
	height: 100%;
}

body{
	width: 100%;
	position: relative;
	min-height: 100%;
	/*background-color: rgb(220,220,220);*/
}

#topbar{
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
	overflow: auto;
	height: auto;
	z-index: 10;
}

#heading{
	position: relative;
	left: 40px;
	padding-top: 43px;
	float: left;
}

#heading > h1{
	font-family: 'Libre Franklin', Helvetica;
	font-size: 22px;
	font-weight: 200;
	margin: 0;
	color: black;
	/*text-shadow: -1px -1px 0 black,
				 1px -1px 0 black,
				 -1px 1px 0 black,
				 1px 1px 0 black;*/
}

#heading > h1 > span{
	color: slategray;
}

nav{
	position: relative;
	right: 15px;
	padding-top: 35px;
	float: right;
}

nav > ul > a > li{
	list-style: none;
	float: left;
	margin-right: 25px;
	margin-left: 20px;
	font-family: 'Libre Franklin', Raleway;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 1px;
}

a{
	color: black;
}

.underline{
	height: 1px;
	background-color: rgb(190,190,190);
	overflow: hidden;
}

.fillline{
	left: -60px;
	height: 1px;
	background-color: black;
	position: relative;
	transition-property: left;
	transition-duration: .3s;
}

li:hover .underline > .fillline{
	left: 0px;
}

main{
	clear: both;
	width: 100%;
	padding-top: 113px;
	position: relative;
	padding-bottom: 350px;
	margin: 0;
	height: 80vh;
}

#container{
	position: relative;
	height: 80%
}

#navigator{
	position: relative;
	left: 50px;
	top: 60%;
	transform: translateY(-50%);
	width: 10%;
}

#toparrow{
	margin-left: 4px;
	margin-bottom: 30px;
	width: 40px;
	height: 40px;
	border-top: black 1px solid;
	border-left: black 1px solid;
	transform: rotate(45deg);
}

#number{
	font-family: 'Libre Franklin', Raleway;
	font-weight: 100;
	font-size: 45px;
}

#bottomarrow{
	margin-left: 4px;
	margin-top: 30px;
	width: 40px;
	height: 40px;
	border-right: black 1px solid;
	border-bottom: black 1px solid;
	transform: rotate(45deg);
}

#frame{
	background: url("../images/work/fuji.png") center center no-repeat;
	width: 80%;
	height: 75vh;
	position: absolute;
	top: 0;
	right: 7%;
	background-size: cover;
}

#texts{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 60px;
}

#title{
	font-family: 'Cormorant Garamond', Serif;
	font-weight: 500;
	font-size: 65px;
	letter-spacing: 0px;
	line-height: 70px;
	margin: 0;
}

#description{
	font-family: 'Libre Franklin', Raleway;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 18px;
	line-height: 35px;
}

a{
	text-decoration: none;
}

#button{
	top: 20px;
	height: 50px;
	width: 130px;
	border: black 2px solid;
	overflow: hidden;
	margin: 0;
	position: relative;
	transition: color .3s;
	border-radius: 25px;
}

#buttonname{
	position: absolute;
	line-height: 40px;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: 'Libre Franklin', Raleway;
	font-weight: 300;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

/*#button:hover{
	color: white;
}*/

#loading{
	width: 100%;
	height: 100vh;
	position: absolute;
	display: block;
	opacity: 1;
	background-color: white;
	z-index: 97;
	top: 0;
}

.spinningbar{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	height: 5px;
  	border-radius: 2px;
  	background-color: black;
  	width: 40px;
  	z-index: 100;
  	animation: spin .7s ease-in-out infinite;
}

#circle{
	position: absolute;
	width: 0;
	height: 0;
	background-color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

@keyframes spin{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}
}

footer{
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background-color: rgb(240,240,240);
}

#footercontent{
	width: 70%;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.columns{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}

#footerheading{
	font-family: 'Libre Franklin', Raleway;
	font-size: 30px;
	color: black;
	font-weight: 100;
	margin-top: 20px;
}

#info > p{
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	color: black;
	font-weight: 300;
	opacity: .7;
	letter-spacing: 2px;
	margin-bottom: 8px;
	margin-top: 8px;
}

#info > a{
	text-decoration: none;
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 300;
	color: black;
	opacity: .7;
}

#links > p{
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	color: black;
	font-weight: 300;
	opacity: .7;
	letter-spacing: 2px;
	margin-bottom: 8px;
	margin-top: 8px;
}
/*josh loves pancakes*/

#links > a{
	text-decoration: none;
	font-family: 'Libre Franklin', Raleway;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 300;
	color: black;
	opacity: .7;
	padding-bottom: 8px;
	display: inline-block;
}